In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('EcommerceBusiness.csv')

In [2]:
data.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [3]:
data['CustomerID']=data['CustomerID'].astype(str)

In [4]:
data['InvoiceDate']=pd.to_datetime(data['InvoiceDate']).dt.strftime('%Y/%m/%d %H:%M')

In [5]:
data.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID      object
Country         object
dtype: object

In [6]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010/12/01 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010/12/01 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010/12/01 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010/12/01 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010/12/01 08:26,3.39,17850.0,United Kingdom

In [7]:
data.isna().sum()

InvoiceNo         0
StockCode         0
Description    1454
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID        0
Country           0
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   541909 non-null  object
 7   Country      541909 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 33.1+ MB

In [9]:
data.isnull().any()

InvoiceNo      False
StockCode      False
Description     True
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID     False
Country        False
dtype: bool

In [10]:
data['Description'].fillna(data['Description'].mode()[0],inplace=True)

In [11]:
data.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  541909 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   541909 non-null  object
 7   Country      541909 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 33.1+ MB

In [13]:
data.isnull().any()

InvoiceNo      False
StockCode      False
Description    False
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID     False
Country        False
dtype: bool

In [14]:
data.describe()

            Quantity      UnitPrice
count  541909.000000  541909.000000
mean        9.552250       4.611114
std       218.081158      96.759853
min    -80995.000000  -11062.060000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000   38970.000000

In [15]:
q1 = data['Quantity'].quantile(0.25)
q3 = data['Quantity'].quantile(0.75)
iqr = q3-q1
low = q1 - 1.5*iqr
high = q3 + 1.5*iqr
index = data[(data['Quantity']>=high)|(data['Quantity']<=low)].index
data.drop(index, inplace=True)
data['Quantity'].describe()

count    483290.000000
mean          4.574599
std           4.546037
min         -12.000000
25%           1.000000
50%           3.000000
75%           6.000000
max          23.000000
Name: Quantity, dtype: float64

In [16]:
Q1 = data['UnitPrice'].quantile(0.25)
Q3 = data['UnitPrice'].quantile(00.75)
IQR = Q3-Q1
LOW = Q1 - 1.5*IQR
HIGH = Q3 + 1.5*IQR
index = data[(data['UnitPrice']>=HIGH)|(data['UnitPrice']<=LOW)].index
data.drop(index, inplace=True)
data['UnitPrice'].describe()

count    445111.000000
mean          2.707560
std           1.947498
min           0.000000
25%           1.250000
50%           2.080000
75%           3.750000
max           8.490000
Name: UnitPrice, dtype: float64

In [17]:
data.describe()

            Quantity      UnitPrice
count  445111.000000  445111.000000
mean        4.797379       2.707560
std         4.615091       1.947498
min       -12.000000       0.000000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%         8.000000       3.750000
max        23.000000       8.490000

In [18]:
data.shape

(445111, 8)

In [20]:
data.to_csv('EcommerceData.csv',index=False)